
.item{

  display: block;
 border: 1px solid white;
  max-width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(52,69,68);

}

.item img{
  width: 50px;
  height:auto;
  border-radius: 40%;
}

.mes {
  color: white;
}

.text{
  color: gold;
}

.like{

  color:black;
}