.header{
    grid-area: h;
    background-color: rgb(60,88,79);
  }
  
  .header img{
    width: 40px;
  }

.loginStatus{
    margin: 15px;
    font-size: 20px;
    float: right;
}
.loginStatus a{
  color: black;
}